body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);

}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 405px;
    background-color: #1F2937;
    padding: 20px 0px;
   
}

img {

    height: 250px;
    width: 500px;

}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 7px 15px 7px 15px;
    border: solid #1f628d 0px;
    text-decoration: none;
    width: 150px
    
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }



ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 0;
    color: white;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px 80px 0px;
    font-size: 18px;
    background-color: #1F2937;
    gap: 100px;

}

.top-text {
    display: flex;
    flex-direction: column;
    width: 350px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

.hero-sub {
    color: #E5E7EB;
}
/* middle-part */
.grand-mid-container {
    color: #1F2937;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}


.mid-container {
    display: flex;
   justify-content: center; 
   gap: 70px;
   
}

.boxes {

    width: 130px;
    height: 130px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10%;
    border-color: #3882F6;
}

.mid-text-container {
    display: flex;
    justify-content: center;
    font-size: 14px;
    gap: 80px;
}

.subtext {
    max-width: 130px;
}


.info-header {
    font-size: 36px;
    font-weight: 800;
    padding: 50px;
}
/* last section */
.last-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    margin: 100px 0px;
}

.inspiring-quote {
    max-width: 800px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
   padding-bottom: 0;
}

.thor {
    display: flex;
    justify-content: flex-end;
    color: #1F2937;
    font-weight: bold;
    font-size: 20px;
}


